/* @font-face {
  font-family: 'GT-Eesti-Pro-Display';
  src: url('../assets/fonts/gt-eesti-pro-display-bold.woff2') format('woff2'),
  url('../assets/fonts/gt-eesti-pro-display-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
} */
